:root {
  --mainColor: #357960;
  --greyColor: #f6f6f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "GT Walsheim Pro", sans-serif;
}

.wrapper {
  padding: 1rem;
}

.bg-main {
  background: var(--mainColor) !important;
  color: #fff !important;
}

.bg-secondary {
  background: var(--greyColor) !important;
}

img {
  width: 100%;
  height: auto;
}

.text-main {
  color: var(--mainColor) !important;
}

.btn-main {
  background: var(--mainColor) !important;
  color: #fff !important;
  border: 1px solid var(--mainColor) !important;
}
.btn-secondary-outline {
  background: transparent !important;
  color: var(--greyColor) !important;
  border: 1px solid var(--greyColor) !important;
}
.btn-main-outline {
  background: transparent !important;
  color: var(--mainColor) !important;
  border: 1px solid var(--mainColor) !important;
}

.sub-nav,
.hero-image {
  display: none;
}

header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 10;
  background: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
}

.cart {
  position: relative;
  padding-right: 1rem;
}
.cart span {
  font-size: 1.4rem;
}
.cart-count,
.cart-count span {
  font-size: 0.8rem !important;
  font-weight: bold;
}
.cart-count {
  position: absolute;
  top: 0;
  right: 0;
}
.cart,
.menu-toggle,
.brand h2,
.menu-item {
  color: black;
}

.hero-bg {
  background-image: linear-gradient(#ffffff41, #0000006c), url(/img/heroBg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 35vh;
}

.hero-content {
  padding: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.123);
}
.hero-content h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.6rem;
}
.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.hero-action-btn a {
  padding: 0.5rem 1.4rem;
  border-radius: 25px;
  display: inline-block;
}
.hero-action-btn a:last-child {
  margin-left: 1rem;
  font-weight: bold;
}

.best-sellers {
  padding: 1.5rem 0rem;
}

.section-info {
  text-align: center;
  padding: 0rem 2rem;
  margin: 1.2rem 0rem 2rem 0rem;
}
.section-info h3 {
  margin-bottom: 0.4rem;
  color: #333;
}
.section-info p {
  color: #505050;
  line-height: 1.3rem;
}
.footer-logo img {
  width: 100px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem 1.3rem;
}
.product {
  background: #fff;
}
.product-img {
  height: 170px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.sale-badge span {
  background: var(--mainColor);
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.4rem 1rem;
}

.product-desc h3 {
  font-size: 0.9rem;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 0.4rem;
}
.product-desc p {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}
.product-desc a {
  font-size: 0.85rem;
  font-weight: bold;
  text-decoration: underline;
}

.is-mobile-menu {
  padding: 1.5rem 0rem;
}
.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.7rem 0rem;
  z-index: 10;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.menu-item {
  text-align: center;
}
.menu-item p {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  font-weight: bold;
  color: var(--mainColor);
}

.training,
.features-section {
  padding-bottom: 1.5rem;
}

.training-articles {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.3rem;
}
.training-article {
  background: #fff;
  border-radius: 7px;
}
.training-article-img {
  height: 230px;
  margin-bottom: 1rem;
  display: none;
}
.train-article-info {
  padding: 1rem;
}
.train-article-info h5 {
  font-size: 0.9rem;
  color: #505050;
  margin-bottom: 0.3rem;
}
.train-article-info p {
  font-size: 0.85rem;
  color: #555;
  line-height: 1.3rem;
  margin-bottom: 0.7rem;
}
.train-article-info a {
  text-decoration: underline;
}

.mobile-contact-section {
  padding-bottom: 0.5rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem 1rem;
}
.feature {
  display: flex;
  border-radius: 7px;
  padding: 0.5rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
}
.feature-icon {
  font-size: 1.8rem;
  margin-right: 0.8rem;
  color: var(--mainColor);
}
.feature-info {
  flex: 1;
}
.feature-info h5 {
  font-size: 0.9rem;
  color: #333;
}
.feature-info p {
  font-size: 0.85rem;
  color: #505050;
}

.mobile-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0.8rem 0rem;
}
.mobile-contact > div {
  margin: 0.5rem 0rem;
}
.mobile-contact > div > span {
  font-size: 0.9rem;
}
.mobile-social-links span {
  font-size: 1.3rem;
  margin: 0rem 0.5rem;
  color: var(--mainColor);
}

.footer-bottom {
  padding: 1rem 0rem 2rem 0rem;
  text-align: center;
}

/*----------------------Product Page---------------------*/
.swiper-container.gallery-top {
  width: 100%;
  height: 50vh;
  margin-top: 3rem;
}
.swiper-container.gallery-thumbs {
  width: 100%;
  height: 15vh;
  padding: 0.5rem;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.gallery-thumbs .swiper-slide {
  width: 25%;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.product-description h3 {
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  color: #333;
  text-transform: capitalize;
}
.product-description .sale {
  padding: 0.2rem 0.5rem;
}
.product-description .price {
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 1rem;
}
.short-describe {
  margin: 1rem 0rem;
  color: #505050;
}

.variations {
  margin-bottom: 1rem;
}
.variations h4 {
  font-size: 0.85rem;
  margin-bottom: 0.6rem;
  color: #333;
}

.product-color input {
  display: none;
}
.product-color input + span,
.product-size input + span {
  display: inline-block;
  margin-right: 0.6rem;
  height: 20px;
  width: 20px;
  padding: 0.1rem;
  border-radius: 50%;
  position: relative;
}
.product-color input + span:after {
  position: absolute;
  content: "";
  height: 70%;
  width: 70%;
  top: 15%;
  left: 15%;
  background: var(--mainColor);
  border-radius: 60%;
}
.product-color input:checked + span {
  border: 1px solid var(--mainColor);
}
.product-color:nth-child(3) input + span:after {
  background: #00ccff;
}
.product-color:nth-child(4) input + span:after {
  background: purple;
}
.product-color:nth-child(5) input + span:after {
  background: orange;
}
.product-size {
  font-size: 1.1rem;
}
.product-size input {
  display: none;
}
.product-size input + span {
  border: 1px solid #505050;
  height: 15px;
  width: 15px;
  margin-left: 0.5rem;
}
.product-size input:checked + span {
  border: 2px solid var(--mainColor);
}
.product-action-button {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  border-radius: 5px;
  overflow-x: hidden;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0rem;
  background: #fff;
}
.quantity-controls {
  display: flex;
  border: 2px solid #ccc;
}
.quantity-controls button,
.quantity-controls input {
  width: 45px;
  border: none;
  outline: none;
  height: 38px;
  background: none;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  color: #505050;
}
.quantity-controls button:first-child {
  border-right: 2px solid #ccc;
  font-size: 1.4rem;
}
.quantity-controls button:last-child {
  border-left: 2px solid #ccc;
  font-size: 1.4rem;
}

.tocart-control {
  flex: 1;
  margin-left: 1rem;
}
.tocart-control button {
  height: 42px;
  width: 100%;
  text-transform: uppercase;
  font-size: 1rem;
  border: 2px solid var(--mainColor);
  border-radius: 5px;
}

/*----------------------Media Queries (768px)----------------------*/
@media only screen and (min-width: 768px) {
  .wrapper.full-screen {
    padding: 0rem;
  }

  header {
    position: relative;
    left: 0;
    top: 0;
  }

  .sub-nav {
    display: block;
  }
  .sub-nav-top {
    background: #272727;
  }
  .sub-nav-top ul {
    display: flex;
    justify-content: center;
  }
  .sub-nav-top li {
    margin: 0rem 1rem;
  }
  .sub-nav-top a {
    color: #fff;
  }
  .sub-nav-bottom-links {
    display: flex;
    justify-content: center;
  }
  .sub-nav-bottom-links > a {
    display: inline-block;
    color: #505050;
    margin: 0rem 1rem;
  }

  .hero {
    margin-top: 0rem;
  }

  .product-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
  }
  .product {
    margin-bottom: 1rem;
  }
  .product-img {
    height: 200px;
  }

  .is-mobile-menu,
  .mobile-menu {
    display: none;
  }
}
/*----------------------Media Queries (960px)----------------------*/
@media only screen and (min-width: 960px) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
    height: 60vh;
    overflow: hidden;
  }
  .hero-content {
    max-height: 60vh;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
  }
  .hero-content h4 {
    font-size: 3rem;
  }
  .hero-content p {
    font-size: 1.9rem;
  }
  .hero-image {
    display: inline-block;
    position: relative;
  }
  .hero-image img {
    position: absolute;
    bottom: 10px;
    right: -80px;
    width: 80%;
  }
  .hero-action-btn a:first-child {
    margin-left: 0rem;
  }
  .hero-action-btn a {
    font-size: 1.3rem;
  }

  .product-img {
    height: 250px;
  }

  .training-articles {
    grid-template-columns: repeat(3, 1fr);
  }
  .training-article-img {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .features {
    grid-template-columns: repeat(4, 1fr);
  }

  .section-info h3 {
    font-size: 2rem;
  }
  .section-info p {
    font-size: 1.2rem;
  }

  .feature {
    margin-bottom: 1.3rem;
    padding: 1.3rem;
  }

  .training,
  .features-section,
  .mobile-contact-section {
    padding: 2rem 0rem;
  }

  .mobile-contact {
    justify-content: center;
    margin-bottom: 1.2rem;
  }
  .mobile-contact > div {
    margin: 0rem 1rem;
  }
}
/*----------------------Media Queries (1124px)----------------------*/
@media only screen and (min-width: 1124px) {
  .wrapper {
    width: 70%;
    margin: auto;
  }
  .wrapper.full-screen {
    width: 100%;
  }
  .hero {
    width: 70%;
    margin: auto;
  }

  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .product-img {
    height: 300px;
  }
}
